@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
  --w875: 875px;
  --inn1000: 1000px;
  --conts-inn: 1200px;
  --col-bk: #000118;
  --col-wh: #fff;
  --col-bl: #0068d0;
  --border-base: 1px solid #9b9b9b;
  --border-gray: 1px solid #707070;
  --list-padding: 16px 20px;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgb(var(--foreground-rgb));
  background-color: #f8f8f8;
}

h1 {
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 20px;
}

a {
  font-size: 18px;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
